{# Copyright 2021 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% set can_delete_resource = has_permission(current_user, "delete", resource.__tablename__, resource.id)  %}

<div class="card bg-light">
  <div class="card-body py-2">
    <div class="d-flex justify-content-between">
      <div {% if can_delete_resource %}class="d-md-inline d-flex flex-column"{% endif %}>
        <submit-field class="ws-normal my-1 mr-1 mr-md-0{% if small %} btn-sm{% endif %}"
                      :field="{{ form.submit_quit }}">
        </submit-field>
        <submit-field class="ws-normal my-1 mr-1 mr-md-0{% if small %} btn-sm{% endif %}" :field="{{ form.submit }}">
        </submit-field>
      </div>
      <div>
        {% if can_delete_resource %}
          <button type="button" class="btn btn-danger my-1{% if small %} btn-sm{% endif %}" @click="deleteResource">
            {{ delete_text }}
          </button>
        {% endif %}
      </div>
    </div>
  </div>
</div>
