{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% extends "groups/base.html" %}

{% block breadcrumbs %}
  {{ super() }}
  {% snippet "breadcrumb", url=url_for("groups.new_group"), title=title %}
{% endblock %}

{% block content %}
  <submission-form enctype="multipart/form-data">
    {{ render_csrf() }}

    <div class="card mb-4">
      <div class="card-body">
        {% include "groups/snippets/base_group_form.html" %}

        <file-field class="mb-0"
                    :field="{{ form.image }}"
                    :mimetypes="{{ const.IMAGE_MIMETYPES | tojson_escaped }}"
                    :max-size="{{ config['IMAGES_MAX_SIZE'] }}">
        </file-field>
      </div>
    </div>
    <div class="card bg-light">
      <div class="card-body py-2">
        <submit-field class="my-1" :field="{{ form.submit }}"></submit-field>
      </div>
    </div>
  </submission-form>
{% endblock %}

{% block scripts %}
  <script nonce="{{ csp_nonce() }}">
    kadi.base.newVue({
      data: {
        title: '',
        titleField: kadi.context.title_field,
      },
      mounted() {
        this.title = this.titleField.data;
      },
    });
  </script>
{% endblock %}
