{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% extends "templates/manage_template_base.html" %}

{% block breadcrumbs %}
  {{ super() }}
  {% snippet "breadcrumb", url=url_for("templates.view_template", id=template.id), title=template.title %}
  {% snippet "breadcrumb", url=url_for("templates.edit_template", id=template.id), title=title %}
{% endblock %}

{% block content %}
  {% set template_type = template.type %}

  {% snippet "back_to_template", _module="templates", template=template, tab="overview" %}

  <submission-form>
    {{ render_csrf() }}

    {% snippet "resources/submit_edit", resource=template, form=form, delete_text=_("Delete template"), small=True %}

    {% include "templates/snippets/base_template_form.html" %}
    {% include "templates/snippets/base_template_data_form.html" %}

    {% snippet "resources/submit_edit", resource=template, form=form, delete_text=_("Delete template") %}
  </submission-form>
  <form action="{{ url_for('templates.delete_template', id=template.id) }}" method="post" ref="delete">
    {{ render_csrf() }}
  </form>
{% endblock %}

{% block scripts %}
  <script nonce="{{ csp_nonce() }}">
    kadi.base.newVue({
      data: {
        title: '',
        titleField: kadi.context.title_field,
      },
      methods: {
        deleteResource() {
          if (window.confirm('{{ _("Are you sure you want to move this template to the trash?") }}')) {
            this.$refs.delete.submit();
          }
        },
      },
      mounted() {
        this.title = this.titleField.data;
      },
    });
  </script>
{% endblock %}
