{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% extends "templates/manage_template_base.html" %}

{% block breadcrumbs %}
  {{ super() }}
  {% snippet "breadcrumb",
             url=url_for("templates.view_template", id=template.id, tab="permissions"),
             title=template.title %}
  {% snippet "breadcrumb",
             url=url_for("templates.manage_permissions", id=template.id),
             title=title %}
{% endblock %}

{% block content %}
  {% snippet "back_to_template", _module="templates", template=template, tab="permissions" %}

  <div class="card">
    <div class="card-body">
      <submission-form>
        {{ render_csrf() }}

        <roles-field users-endpoint="{{ url_for('api.select_users') }}"
                     groups-endpoint="{{ url_for('api.select_groups') }}"
                     :user-request-params="{resource_type: 'template', resource_id: {{ template.id }}}"
                     :group-request-params="{resource_type: 'template', resource_id: {{ template.id }}}"
                     :field="{{ form.roles }}">
        </roles-field>
        <div class="d-flex justify-content-between">
          <submit-field :field="{{ form.submit }}"></submit-field>
          <roles-popover :roles="{{ get_object_roles('template') | tojson_escaped }}"></roles-popover>
        </div>
      </submission-form>
      <hr>
      <resource-roles-editor title="{% trans %}User roles{% endtrans %}"
                             placeholder="{% trans %}No users.{% endtrans %}"
                             endpoint="{{ url_for('api.get_template_user_roles', id=template.id,
                                                  exclude=[template.user_id]) }}"
                             :roles="{{ get_object_roles('template') | tojson_escaped }}">
      </resource-roles-editor>
      <hr>
      <resource-roles-editor title="{% trans %}Group roles{% endtrans %}"
                             placeholder="{% trans %}No groups.{% endtrans %}"
                             endpoint="{{ url_for('api.get_template_group_roles', id=template.id) }}"
                             :roles="{{ get_object_roles('template') | tojson_escaped }}">
      </resource-roles-editor>
    </div>
  </div>
{% endblock %}
