{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

<h4 id="collections">
  <strong>{% trans %}Collections{% endtrans %}</strong>
</h4>
<p>
  {% trans %}
    Collections represent logical groupings (e.g. projects, simulation studies or experiments) of multiple records or
    other collections.
  {% endtrans %}
</p>
<h5>{% trans %}Creating new collections{% endtrans %}</h5>
<p>
  {% trans a_open='<a href="#templates"><strong>' | safe, a_close="</strong></a>" | safe %}
    Creating a new collection is similar to creating new records, except that only some basic metadata is necessary.
    Additionally, it is possible to specify a {{ a_open }}Record Template{{ a_close }} to use as default when adding new
    records to a collection. Note that a limited subset of information about such templates (the ID of the template)
    will always be shown as part of the collection revisions.
  {% endtrans %}
</p>
<h5>{% trans %}Managing existing collections{% endtrans %}</h5>
<p>
  {% trans %}
    Similar to records, collections have their own navigation menu, offering different tabs for viewing and managing
    collections. As most of the contents are similar to those of records, only the main differences are listed in the
    following sections.
  {% endtrans %}
</p>
<dl class="row">
  <dt class="col-xl-2">{% trans %}Overview{% endtrans %}</dt>
  <dd class="col-xl-10">
    {% trans %}
      This tab provides an overview of a collection, mainly related to its metadata. Additionally, the records that are
      part of a collection are directly listed in this overview.
    {% endtrans %}
  </dd>
  <dt class="col-xl-2">{% trans %}Links{% endtrans %}</dt>
  <dd class="col-xl-10">
    {% trans %}
      Besides linking collections to records, collections can also be linked to other collections, which is shown in
      this tab. This functionality can be used to create simple hierarchies of parent and child collections in order to
      improve the structuring of multiple resources, e.g. by representing projects and corresponding subprojects. Note
      that each collection may only have one parent collection, while the required permissions to link collections are
      handled similarly to other resource links.
    {% endtrans %}
  </dd>
  <dt class="col-xl-2">{% trans %}Permissions{% endtrans %}</dt>
  <dd class="col-xl-10">
    {% trans %}
      Besides managing the permissions of collections themselves, it is also possible to manage the roles of users and
      groups of all linked records in a collection in the corresponding tab, as collection permissions are currently not
      inherited by linked resources. Specifically, this applies to all linked records where the current user can manage
      permissions. When selecting an empty role, the existing roles of all selected users and groups are removed
      instead.
    {% endtrans %}
  </dd>
</dl>
