{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

<h4 id="settings">
  <strong>{% trans %}Settings{% endtrans %}</strong>
</h4>
<p>
  {% trans %}
    The settings allow managing everything not directly related to the actual creation and management of resources. The
    navigation menu of the settings again provides access to different subpages.
  {% endtrans %}
</p>
<dl class="row">
  <dt class="col-xl-2">{% trans %}Profile{% endtrans %}</dt>
  <dd class="col-xl-10">
    {% trans %}
      In this menu, it is possible to change basic user information, which is displayed on a user's profile. Note that
      some options might be disabled, depending on the type of the user account.
    {% endtrans %}
  </dd>
  <dt class="col-xl-2">{% trans %}Password{% endtrans %}</dt>
  <dd class="col-xl-10">
    {% trans %}
      In this menu, users can change their password. Depending on the type of user account this menu item may be hidden.
    {% endtrans %}
  </dd>
  <dt class="col-xl-2">{% trans %}Preferences{% endtrans %}</dt>
  <dd class="col-xl-10">
    {% trans %}
      In this menu, users can change their preferences regarding the behavior or appearance of Kadi4Mat.
    {% endtrans %}
  </dd>
  <dt class="col-xl-2">{% trans %}Access tokens{% endtrans %}</dt>
  <dd class="col-xl-10">
    {% trans a_docs_open='<a href="{}" target="_blank" rel="noopener noreferrer"><strong>'
                         .format(const.URL_RTD_LATEST) | safe,
             a_api_open='<a href="{}" target="_blank" rel="noopener noreferrer"><strong>'
                        .format(url_for("api.index")) | safe,
             a_close="</strong></a>" | safe,
             api_link=url_for("api.index") %}
      Creating a personal access token (PAT) gives access to the HTTP API that Kadi4Mat provides. This API makes it
      possible to programmatically interact with most of the resources that can be managed via the graphical user
      interface of Kadi4Mat by sending suitable HTTP requests to the different endpoints the API provides. Detailed
      information about the API can be found in Kadi4Mat's {{ a_docs_open }}documentation{{ a_close }}. Some parts of
      the API may also be tested out directly via the browser by navigating to {{ a_api_open }}{{ api_link }}{{ a_close
      }}.
    {% endtrans %}
  </dd>
  <dt class="col-xl-2">{% trans %}Connected services{% endtrans %}</dt>
  <dd class="col-xl-10">
    {% trans %}
      In this menu, users can manage their connections with different third party services. Each service has to be
      registered as a plugin in the application and can be used for different tasks, e.g. publishing resources. Note
      that if no services are available in the current Kadi4Mat instance, this menu item is hidden.
    {% endtrans %}
  </dd>
</dl>
