{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

<h4 id="templates">
  <strong>{% trans %}Templates{% endtrans %}</strong>
</h4>
<p>
  {% trans %}
    Templates enable the creation of blueprints for different resources. There are multiple types of templates, which
    define the actual content that a template can contain. The following types of templates currently exist:
  {% endtrans %}
</p>
<dl class="row">
  <dt class="col-xl-2">Record</dt>
  <dd class="col-xl-10">
    {% trans em_open="<em>" | safe, em_close="</em>" | safe %}
      {{ em_open }}Record{{ em_close }} templates can contain all of the metadata that can be specified for a record,
      including its generic extra metadata, linked collections and permissions. Note that concerning collections and
      groups, only their IDs will be visible to users who can access the template. Record templates can be selected in
      most places where new records can be created.
    {% endtrans %}
  </dd>
  <dt class="col-xl-2">Extras</dt>
  <dd class="col-xl-10">
    {% trans em_open="<em>" | safe, em_close="</em>" | safe %}
      {{ em_open }}Extras{{ em_close }} templates are focused on the generic extra metadata of a record. These kind of
      templates can be selected and combined wherever such metadata can be specified, including when creating other
      templates.
    {% endtrans %}
  </dd>
</dl>
<h5>{% trans %}Creating new templates{% endtrans %}</h5>
<p>
  {% trans %}
    Creating a new template is similar to creating other kinds of resources. Each template requires at least setting a
    title and identifier for the template itself, while the actual template data depends on the specific type of
    template.
  {% endtrans %}
</p>
<h5>{% trans %}Managing existing templates{% endtrans %}</h5>
<p>
  {% trans %}
    Similar to other resources, templates have their own navigation menu, offering different tabs for viewing and
    managing templates.
  {% endtrans %}
</p>
