{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

<div class="card my-4">
  <div class="card-header py-2">
    <strong>{% trans %}Metadata{% endtrans %}</strong>
    <small class="text-muted">({% trans %}The metadata of the template itself.{% endtrans %})</small>
  </div>
  <div class="card-body">
    <text-field :field="titleField" @input="title = $event"></text-field>
    <identifier-field :field="{{ form.identifier }}" :input="title"></identifier-field>
    <markdown-field :field="{{ form.description }}"
                    link-endpoint="{{ url_for('api.select_files') }}"
                    image-endpoint="{{ url_for('api.select_files', mimetype=const.IMAGE_MIMETYPES) }}">
    </markdown-field>
    <select-field class="mb-0" :field="{{ form.visibility }}"></select-field>
  </div>
</div>
