{# Copyright 2022 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% if template.data %}
  <extras-viewer {% if can_update_template %}
                 edit-endpoint="{{ url_for('templates.edit_template', id=template.id) }}"
                 {% endif %}
                 :extras="{{ template.data | tojson_escaped }}">
    <div class="mb-2">
      <strong>Extras</strong>
    </div>
  </extras-viewer>
{% else %}
  <div class="row">
    <div class="col-lg-3">
      <strong>Extras</strong>
    </div>
    <div class="col-lg-9">-</div>
  </div>
{% endif %}
