/* Copyright 2020 Karlsruhe Institute of Technology
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License. */

$connection-color: #adadad;

$context-menu-accent-color: #c9c9c9;
$context-menu-round: 3px;
$context-menu-width: 175px;

$socket-margin: 5px;
$socket-size: 20px;

.connection {
  overflow: visible !important;
  pointer-events: none;
  position: absolute;
  z-index: -1;

  .main-path {
    fill: none;
    stroke: $connection-color;
    stroke-width: 3px;

    &:hover {
      stroke-width: 4px;
      stroke: darken($connection-color, 25%);
    }
  }

  > * {
    pointer-events: all;
  }
}

.item {
  background-color: #f8f8f8;
  border-left: 1px solid $context-menu-accent-color;
  border-right: 1px solid $context-menu-accent-color;
  color: #2e2e2e;
  cursor: pointer;
  padding: 4px;
  position: relative;
  width: $context-menu-width;

  &:hover {
    background-color: #e3e3e3;
  }

  &:first-child {
    border-top: 1px solid $context-menu-accent-color;
    border-top-left-radius: $context-menu-round;
    border-top-right-radius: $context-menu-round;
  }

  &:last-child {
    border-bottom: 1px solid $context-menu-accent-color;
    border-bottom-left-radius: $context-menu-round;
    border-bottom-right-radius: $context-menu-round;
  }
}

// Currently drawn connections only have a single class applied.
[class='connection'] .main-path {
  stroke-width: 4px;
  stroke: darken($connection-color, 25%);
}
