{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% extends "settings/base.html" %}

{% block breadcrumbs %}
  {{ super() }}
  {% snippet "breadcrumb", url=url_for("settings.change_password"), title=title %}
{% endblock %}

{% block content %}
  <div class="card">
    {% include "settings/snippets/menu.html" %}

    <div class="card-body">
      <submission-form>
        {{ render_csrf() }}

        <password-field :field="{{ form.password }}"></password-field>
        <password-field :field="{{ form.new_password }}" @input="password = $event">
          <password-strength :input="password"></password-strength>
        </password-field>
        <password-field :field="{{ form.new_password2 }}"></password-field>
        <submit-field :field="{{ form.submit }}"></submit-field>
      </submission-form>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ render_js("app/settings/change-password.js") }}
{% endblock %}
