{# Copyright 2022 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% extends "settings/base.html" %}

{% block breadcrumbs %}
  {{ super() }}
  {% snippet "breadcrumb", url=url_for("settings.manage_preferences"), title=title %}
{% endblock %}

{% block content %}
  <div class="card">
    {% include "settings/snippets/menu.html" %}

    <nav-tabs :tabs="['customization' {% if plugin_configs %}, 'plugins'{% endif %}]">
      <template #customization-head>
        {% trans %}Customization{% endtrans %}
      </template>
      <template #customization-body>
        {% include "settings/snippets/preferences_customization.html" %}
      </template>

      {% if plugin_configs %}
        <template #plugins-head>
          Plugins
        </template>
        <template #plugins-body>
          {% include "settings/snippets/preferences_plugins.html" %}
        </template>
      {% endif %}
    </nav-tabs>
  </div>
{% endblock %}
