{# Copyright 2022 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% extends "records/manage_record_link_base.html" %}

{% block breadcrumbs %}
  {{ super() }}
  {% snippet "breadcrumb",
             url=url_for("records.edit_record_link", record_id=record.id, link_id=record_link.id),
             title=title %}
{% endblock %}

{% block content %}
  {% snippet "back_to_record", _module="records", record=record, record_link=record_link, tab="links" %}

  <div class="card">
    <div class="card-body">
      <submission-form>
        {{ render_csrf() }}
        <dynamic-select-field endpoint="{{ url_for('api.select_link_names') }}"
                              placeholder="{% trans %}Enter or search for a name{% endtrans %}"
                              :field="{{ form.name }}"
                              :tags="true">
        </dynamic-select-field>
        <text-field :field="{{ form.term }}"></text-field>
        <div class="d-flex justify-content-between">
          <submit-field :field="{{ form.submit }}"></submit-field>
          <button type="button" class="btn btn-danger" @click="removeLink">
            {% trans %}Remove record link{% endtrans %}
          </button>
        </div>
      </submission-form>
      <form action="{{ url_for('records.remove_record_link', record_id=record.id, link_id=record_link.id) }}"
            method="post"
            ref="delete">
        {{ render_csrf() }}
      </form>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script nonce="{{ csp_nonce() }}">
    kadi.base.newVue({
      methods: {
        removeLink() {
          if (window.confirm('{{ _("Are you sure you want to remove this record link?") }}')) {
            this.$refs.delete.submit();
          }
        },
      },
    });
  </script>
{% endblock %}
