{# Copyright 2022 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% extends "oauth2server/base.html" %}

{% block breadcrumbs %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
    <submission-form>
      {{ render_csrf() }}

      <h5 class="font-weight-bold">{% trans %}Create Client{% endtrans %}</h5>
      <hr class="mt-0">

      <div class="row">
        <div class="col-lg">
          <text-field :field="{{ form.client_name }}" :input="title"></text-field>
        </div>
      </div>

      <div class="row">
        <div class="col-lg">
          <text-field :field="{{ form.client_uri }}" :input="title"></text-field>
        </div>
      </div>

      <scopes :all-scopes="kadi.context.all_scopes"></scopes>

      <div class="row">
        <div class="col-lg">
          <text-field :field="{{ form.redirect_uri }}" :input="title"></text-field>
        </div>
      </div>

      <hr class="mt-0">

      <submit-field :field="{{ form.submit }}"></submit-field>
    </submission-form>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script nonce="{{ csp_nonce() }}">
  kadi.base.newVue({
    data: {
      title: '',
    },
  });
</script>
{% endblock %}
