{# Copyright 2022 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% extends "oauth2server/base.html" %}

{% block content %}

<a class="btn btn-primary btn-block mb-4" href="{{ url_for('.create_client') }}">
  <i class="fa-solid fa-square-plus"></i> {% trans %}Create new Client{% endtrans %}
</a>

{% for client in client_forms %}
<div class="card mb-5">
  <div class="card-body">
    <div class="row">
      <h5 class="font-weight-bold col-10 align-self-center">{% trans %}Client Info{% endtrans %}</h5>
      <a class="btn btn-primary btn-block mb-4 col-2" @click="deleteClient">
        <i class="fa-solid fa-trash"></i> {% trans %}Delete Client{% endtrans %}
      </a>
      <form action="{{ url_for('.delete_client', client_id=client.client_id.data) }}" method="post" ref="delete">
        {{ render_csrf() }}
      </form>
    </div>
    <hr class="mt-0">

    <div class="row">
      <div class="col-lg">
        <text-field :field="{{ client.client_name }}" :input="title" disabled></text-field>
      </div>
    </div>

    <div class="row">
      <div class="col-lg">
        <text-field :field="{{ client.client_uri }}" :input="title" disabled></text-field>
      </div>
    </div>

    <div class="row">
      <div class="col-lg">
        <text-field :field="{{ client.client_id }}" :input="title" disabled></text-field>
      </div>
    </div>

    <div class="row">
      <div class="col-lg">
        <text-field :field="{{ client.redirect_uri }}" :input="title" disabled></text-field>
      </div>
    </div>

    <div class="row">
      <div class="col-lg">
        <text-field :field="{{ client.client_id_issued_at }}" :input="title" disabled></text-field>
      </div>
    </div>

  </div>
</div>
{% endfor %}

{% endblock %}

{% block scripts %}
<script nonce="{{ csp_nonce() }}">
  kadi.base.newVue({
    data: {
      title: '',
    },
    methods: {
      selectTemplate(template) {
        const url = kadi.utils.setSearchParam('template', template.id);
        window.location.href = url;
      },
      deleteClient() {
        if (window.confirm('{{ _("Are you sure you want to delete this client?") }}')) {
          this.$refs.delete.submit();
        }
      },
    },
  });
</script>
{% endblock %}
