<!-- Copyright 2022 Karlsruhe Institute of Technology
   -
   - Licensed under the Apache License, Version 2.0 (the "License");
   - you may not use this file except in compliance with the License.
   - You may obtain a copy of the License at
   -
   -     http://www.apache.org/licenses/LICENSE-2.0
   -
   - Unless required by applicable law or agreed to in writing, software
   - distributed under the License is distributed on an "AS IS" BASIS,
   - WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   - See the License for the specific language governing permissions and
   - limitations under the License. -->

<template>
  <div>
    <div class="mb-4">
      <collapse-item id="scopes" class="text-default" :is-collapsed="isCollapsed">
        <strong>{{ $t("Scopes") }}</strong>
      </collapse-item>
      <span class="text-muted ml-0 ml-lg-3 mt-2 mt-lg-0 d-block d-lg-inline" v-if="showNote">
        <i class="fa-solid fa-circle-info"></i>
        {{ $t("Scopes can optionally restrict a token's access to specific resources or actions.") }}
      </span>
    </div>
    <div id="scopes" class="collapse hide mb-4">
      <div class="d-lg-flex justify-content-between">
        <div :class="{ 'mt-4 mt-lg-0': index > 0 }" v-for="(actions, object, index) in parsedScopes" :key="object">
          <input type="checkbox" class="align-middle" :id="object" :checked="allScopesChecked(object)"
                 :disabled="isDisabled" @click="checkAllScopes(object, $event)">
          <label :for="object">
            <strong>{{ capitalize(object) }}</strong>
          </label>
          <div v-for="(actionModel, action) in actions" :key="`${object}.${action}`">
            <input type="checkbox" class="align-middle" name="scopes" v-model="actionModel.checked"
                   :id="`${object}.${action}`" :value="`${object}.${action}`" :disabled="isDisabled">
            <label :for="`${object}.${action}`">{{ action }}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    entityScopes: Array,
    allScopes: Array,
    isDisabled: {
      type: Boolean,
      default: false,
    },
    showNote: {
      type: Boolean,
      default: true,
    },
  },
  data() {
    return {
      parsedScopes: this.parseScopes(),
      isCollapsed: false,
    };
  },
  methods: {
    parseScopes() {
      const allScopes = this.allScopes ? this.allScopes : this.entityScopes;
      const parsedScopes = {};

      allScopes.forEach((scope) => {
        if (!parsedScopes[scope.object]) {
          parsedScopes[scope.object] = {};
        }

        const hasEntityDefinedEmptyScopes = (Boolean(this.entityScopes) && !this.entityScopes.length);
        const isCurrentScopeIncludedInEntityScopes = Boolean(this.entityScopes?.find((entityScope) => {
          return entityScope.object === scope.object && entityScope.action === scope.action;
        }));

        parsedScopes[scope.object][scope.action] = {
          checked: hasEntityDefinedEmptyScopes || isCurrentScopeIncludedInEntityScopes,
        };
      });

      return parsedScopes;
    },
    capitalize(string) {
      return string[0].toUpperCase() + string.slice(1);
    },
    checkAllScopes(object, e) {
      for (const action in this.parsedScopes[object]) {
        this.parsedScopes[object][action].checked = e.target.checked;
      }
    },
    allScopesChecked(object) {
      for (const action in this.parsedScopes[object]) {
        if (!this.parsedScopes[object][action].checked) {
          return false;
        }
      }

      return true;
    },
  },
};
</script>
