{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% extends "collections/manage_collection_base.html" %}

{% block breadcrumbs %}
  {{ super() }}
  {% snippet "breadcrumb", url=url_for("collections.view_collection", id=collection.id), title=collection.title %}
{% endblock %}

{% block content %}
  <div class="card">
    <nav-tabs :tabs="['overview', 'links', 'permissions', 'revisions']">
      <template #overview-head>
        <strong>{% trans %}Overview{% endtrans %}</strong>
      </template>
      <template #overview-body>
        {% include "collections/snippets/view_overview.html" %}
      </template>
      <template #links-head>
        <i class="fa-solid fa-link"></i> {% trans %}Links{% endtrans %}
      </template>
      <template #links-body>
        {% include "collections/snippets/view_links.html" %}
      </template>
      <template #permissions-head>
        <i class="fa-solid fa-shield-halved"></i> {% trans %}Permissions{% endtrans %}
      </template>
      <template #permissions-body>
        {% include "collections/snippets/view_permissions.html" %}
      </template>
      <template #revisions-head>
        <i class="fa-solid fa-clock-rotate-left"></i> {% trans %}Revisions{% endtrans %}
      </template>
      <template #revisions-body>
        {% include "collections/snippets/view_revisions.html" %}
      </template>
    </nav-tabs>
  </div>
{% endblock %}

{% block scripts %}
  <script nonce="{{ csp_nonce() }}">
    kadi.base.newVue({
      data: {
        includeChildCollections: false,
      },
      computed: {
        getRecordsEndpoint() {
          const baseEndpoint = kadi.context.get_records_endpoint;
          return this.includeChildCollections ? `${baseEndpoint}?children=true` : baseEndpoint;
        },
        searchRecordsEndpoint() {
          const baseEndpoint = kadi.context.search_records_endpoint;
          return this.includeChildCollections ? `${baseEndpoint}&child_collections=true` : baseEndpoint;
        },
      },
      mounted() {
        kadi.base.visitItem(
          'collection',
          '{{ collection.title }}',
          '{{ collection.identifier }}',
          '/collections/{{ collection.id }}',
        );
      },
    });
  </script>
{% endblock %}
