{# Copyright 2022 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

<div class="card bg-light mb-4">
  <div class="card-body py-2">
    {% if file %}
      <a href="{{ url_for('records.view_file', record_id=record.id, file_id=file.id) }}" class="mr-4">
        <i class="fas fa-angle-left mr-2"></i>
        <strong>{% trans %}Back to file{% endtrans %}</strong>
      </a>
    {% elif record_link %}
      <a href="{{ url_for('records.view_record_link', record_id=record.id, link_id=record_link.id) }}" class="mr-4">
        <i class="fas fa-angle-left mr-2"></i>
        <strong>{% trans %}Back to record link{% endtrans %}</strong>
      </a>
    {% endif %}

    <a href="{{ url_for('records.view_record', id=record.id, tab=tab) }}">
      {% if file or record_link %}
        <i class="fas fa-angles-left mr-2"></i>
      {% else %}
        <i class="fas fa-angle-left mr-2"></i>
      {% endif %}
      <strong>{% trans %}Back to record{% endtrans %}</strong>
    </a>
  </div>
</div>
