{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

<upload-manager chunked-upload-endpoint="{{ url_for('api.new_upload', id=record.id) }}"
                direct-upload-endpoint="{{ url_for('api.upload_file', id=record.id) }}"
                get-uploads-endpoint="{{ url_for('api.get_uploads', id=record.id) }}"
                :chunked-upload-boundary="{{ config['UPLOAD_CHUNKED_BOUNDARY'] }}"
                :storage-types="kadi.context.storage_types"
                @upload-completed="uploadCompleted"
                @upload-canceled="uploadCanceled"
                ref="uploadManager">
  <small class="text-muted">
    <i class="fa-solid fa-circle-info"></i>
    {% trans duration=config["UPLOADS_MAX_AGE"] | duration %}
      Inactive uploads will be deleted automatically after {{ duration }}.
    {% endtrans %}
  </small>
</upload-manager>
